#page-3 a {
  color: var(--warmth);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

#page-3 a:hover {
  color: var(--softblack);
}

#page-3 article {
  width: 55%;
}

#page-3 h2 {
  color: var(--dusk);
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
}

.heart-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.heart-row img {
  height: 75%;
  width: 75%;
  margin-left: 1rem;
  margin-right: 1rem;
}
