.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  background-color: var(--black);
}

.logo {
  font-size: 40px;
  margin-top: 0;
  margin-left: 5rem;
}

.title {
  margin-top: 10px;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.first {
  color: var(--warmth);
}

.second,
.third {
  color: var(--earth);
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links,
.nav-links-yrgo {
  margin-right: 5rem;
}

ul {
  list-style-type: none;
}

.nav-links,
.nav-links-yrgo,
.logo {
  text-decoration: none;
  color: #ffffffb3;
}

.logo:hover,
.nav-links:hover {
  color: var(--warmth);
}

.nav-links-yrgo:hover {
  color: var(--yrgo);
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--black);
  overflow: hidden;
  transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

#page-1 {
  flex-direction: column;
}

#unity-container {
  margin-top: 40px;
}

#page-2 {
  justify-content: center;
  padding-bottom: 3vh;
  background-color: var(--stone);
}

#about:target .page#page-2 {
  transform: translateY(-100%);
}
